@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

#root {
  width: 375px; /* 800px (Chrome 확장프로그램 최대 너비) */
  height: 600px; /* 600px (Chrome 확장프로그램 최대 높이) */
}
